

.mbti-container {
    font-family: "Jua", sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mbti-header {
    background-color: #181818;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    align-items: center;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 20px 0;
}

.logo {
    height: 50px;
    position: fixed;
    left: 3vw;
    top: 20px;
    cursor: pointer;
}

.home-button {
    border: 1px solid black;
    padding: 10px;
    top: 25px;
    background: white;
    cursor: pointer;
    position: fixed;
    right: 3vw;
}
  
  .mbti-header .logo img {
    height: 64px;
  }
  
  .header-links {
    display: flex;
    gap: 20px;
  }
  
  .header-links li {
    list-style: none;
  }
  
  .header-links a {
    color: #fafafa;
    text-decoration: none;
    font-size: 18px;
  }
  
  .mbti-main {
    text-align: center;
    margin-top: 50px;
  }
  
  .main-image img {
    cursor: pointer;
    max-width: 100%;
    height: auto;
  }
  
  .intro-text {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  
  .start-button {
    margin-top: 20px;
    font-size: 1rem;
    border-radius: 10px;
  }
  
  .mbti-qna {
    width: 80%;
    margin-top: 20px;
  }
  
  .status-bar {
    background-color: #ccc;
    height: 10px;
    width: 100%;
  }
  
  .qBox {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .answerBox {
    margin-top: 20px;
  }
  