.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 20px 0;
}

.logo {
    height: 50px;
    position: fixed;
    left: 3vw;
    top: 20px;
    cursor: pointer;
}

.home-button {
    border: 1px solid black;
    padding: 10px;
    top: 25px;
    background: white;
    cursor: pointer;
    position: fixed;
    right: 3vw;
}

.textbox {
    margin-bottom: 10px;
}

.textbox h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

.textbox p {
    font-size: 1rem;
    margin-top: 2px;
    margin-bottom: 15px;
    text-align: center;
    color: #555;
}

#politic-map {
    width: 50%;
    max-width: 800px; /* 원하는 최대 너비 설정 */
    min-width: 400px;
    height: 500px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.footer {
    text-align: center;
    margin-top: 40px;
    line-height: 1.35;
}

.footer p {
    font-size: 13px;
}

/* infowindow 내 버튼 스타일 */
.infowindow-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px; /* 창의 너비를 조금 더 넓게 설정 */
    padding: 10px;
    color: black;
}

.infowindow-content p {
    margin-top: 9px;
    margin-bottom: 5px;
}

.infowindow-button-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.infowindow-button {
    font-size: 13px;
    padding: 8px 12px;
    background-color: #7a6bca;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    flex: 1;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.infowindow-button:hover {
    background-color: #393363;
}


.back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background-color: #7a6bca;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #393363;
}