/* 전체 화면 컨테이너 */
.mbti-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px; /* header 높이 + 추가 여백 */
  min-height: 100vh;
  background: white;
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow: auto;
}

  .body {
    overflow-y: auto;
  }