/* 전체 컨테이너 */
.mbti-container {
  font-family: "Noto Sans KR", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
}