/* 전체 화면 컨테이너 */
.mbti-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #0a0a0a, #1a1a1a);
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  position: relative;
}

/* 중앙 컨테이너 크기 및 텍스트 크기 조정 */
.question-box {
  width: 90%; /* 반응형 디자인을 위한 너비 조정 */
  max-width: 500px; /* 최대 너비 제한 */
  background: white; /* 배경색 통일 */
  border-radius: 20px; /* 모서리 둥글게 */
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5), inset 0 -5px 15px rgba(255, 255, 255, 0.05);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto; /* 내용이 많아질 경우 스크롤 가능 */
}

/* 진행률 표시 */
.progress-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px; /* 텍스트와 진행 바 간격 조정 */
}

.progress-text {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  text-align: center;
}

.status-bar {
  width: 100%;
  height: 15px;
  background-color: #292929;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.status-bar-fill {
  width: 0%; /* 초기 상태 */
  height: 100%;
  background: linear-gradient(90deg, #c084fc, #8455b3);
  transition: width 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(192, 132, 252, 0.6), 0 0 20px rgba(132, 85, 179, 0.4);
}

.qBox {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  margin-top: 10px;
}

.qBox h2 {
  font-size: 1.5rem;
  color: black;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.5px;
  word-break:keep-all;
}

.answerBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.answer-button {
  background: linear-gradient(135deg, #c084fc, #8455b3);
  color: #ffffff;
  font-size: 1.2rem;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(132, 85, 179, 0.4), 0 0 10px rgba(192, 132, 252, 0.6);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.answer-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(132, 85, 179, 0.6), 0 0 20px rgba(192, 132, 252, 0.8);
}

.answer-button:active {
  transform: scale(0.98);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.next-button {
  background: #8455b3;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background: #6d3ca6;
}

.next-button:active {
  transform: scale(0.95);
}

.next-button:disabled {
  background: #555;
  cursor: not-allowed;
  opacity: 0.6;
}

/* 클릭된 버튼만 색상 변경 */
.answer-button.selected {
  background: #731ed3; /* 선택된 버튼 색상 */
}