/* 전체 결과 화면 */
.result-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f9f6ff; /* 연한 배경색 */
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

/* 결과 헤더 */
.result-header {
  background-color: #8455b3; /* 연한 보라색 배경 */
  color: white; /* 흰색 텍스트 */
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
}

.result-header h1 {
  font-size: 2rem;
  margin: 0;
}

/* 이미지 스타일 */
.result-image {
  width: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* 설명 섹션 */
.result-description {
  font-size: 1.2rem;
  color: #333;
  background: #ece5f9; /* 연한 라벤더 배경 */
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
}

/* 버튼 스타일 */
.restart-button {
  background-color: #8455b3; /* 보라색 배경 */
  color: white; /* 흰색 텍스트 */
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.restart-button:hover {
  background-color: #6d3ca6; /* 보다 진한 보라색 */
  transform: scale(1.05);
}


.finishBtn {
    background: #8455b3;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}