/* 정책들 담겨있는 회색 박스 */
.action-cards {
    display: flex;
    flex-direction: column;
    width: 100%; /* 부모 컨테이너의 폭을 100%로 설정 */
}

.action-card {
    width: 100%; /* 각 카드의 폭을 100%로 설정 */
    padding: 0; /* 안쪽 여백 제거, 이미 지정되어 있음 */
}

.btn {
    width: 100%; /* Set button width to 100% to fill container */
    font-size: 1.5em;
    color: black;
    height: 80px;
    font-weight: bold;
    border: 2px solid #000; /* 검정색 테두리 추가 */
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.complete {
    background-color: #00D355; /* Blue color for '완료' */
}

.inProgress {
    background-color: #ECFF21; /* Orange color for '이행중' */
}

.notStarted {
    background-color: #FF0000; /* Red color for '이행하지 못한 것' */
}

.policy-list {
    padding: 10px 20px;
    background-color: #f0f0f0;
    flex-direction: column;
}

.policy-item {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
